@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Pagina de <a href="https://localhost:44361/Departments">Cadastro</a> de departamento.</p>
</div>
